// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --drinklimit-rojo: #cf252b;
  --drinklimit-rojo-oscuro: #b51f25;
  --drinklimit-fondo: #ffffff;
  --drinklimit-texto: #171717;
  --drinklimit-borde: #dddddd;
}
